body {
    font-family: "Arial", sans-serif;
}

section {
    text-align: center;
}

.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}

.game--title {
    font-size: 75px;
    color: black;
    margin: 25px auto;
}

.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 25px auto;
    background-color: white;
    color: grey;
}

.game--status {
    font-size: 50px;
    color: #383838;
    font-weight: bolder;
    margin: 20px auto;
}

.game--restart {
    background-color: white;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bolder;
    color: #383838;
    border: 3px solid black;
}

.game--undo{
  margin-top: 30px;
  background-color: white;
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-weight: bolder;
  color: #383838;
  border: 3px solid black;
}
